@-ms-viewport { 
    width: device-width;
    height: device-height;
}  

html,body{width: 100%;height: 100%;}

h1 {
    font-family: "Montserrat";
    font-size: 46px;
    font-weight: 400;
    color:white;
    text-transform: uppercase;
    text-align: center;
}

h1 strong {
    font-weight: 700;
    color: #8e969b;
    font-size: 46px;
}

.sub-title {
    font-family: "Montserrat";
    font-size: 12px;
    font-weight: 400;
    color: #737d82;
    text-transform: uppercase;
    max-width: 700px;
    margin: 30px auto 0;
    text-align: center;
    line-height: 1.6;
}

.soc-links {
    margin: 30px auto 0;
    width: 100%;
    text-align: center;
}
.soc-links li {
    margin: 0 2px 0;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px solid #b6c7cc;
    background:#fff;
    -webkit-transition: background .2s ease;
    transition: background .2s ease;
}
.soc-links li a { text-decoration: none; }
.soc-links li i {
    float:left;
    width: 100%;
    line-height: 48px;
    color:#222;
    font-size: 18px;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
}
.soc-links li:hover { background: #b6c7cc; }
.soc-links li:hover i { color:#fff; }

.clockworks {
    width: 850px;
    max-width: 100%;
    height: 300px;
    margin: 37% auto 0;
    position: relative;
}

canvas {
    position: absolute;
}

.seconds canvas {
    left: -6px;
    top: -6px;
}

.seconds {
    width: 181px;
    height: 181px;
    border-radius: 100%;
    border: 2px solid #000;
    position: absolute;
    left: -47px;
    top: 126px;
}

.circle-bg-inner {
    background-color:white;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    position: absolute;
    z-index: -1;
    -webkit-filter: brightness(70%) contrast(200%);
    filter: brightness(70%) contrast(200%);
}

/*.seconds .num {
    font-family: "Montserrat";
    font-size: 100px;
    font-weight: 700;
    color:white;
    text-align: center;
    margin-top: 75px;
}

.seconds .str {
    font-family: "Montserrat";
    font-size: 30px;
    font-weight: 700;
    color:white;
    text-align: center;
    text-transform: uppercase;
}*/

.days canvas {
    top: -4px;
    left: -4px;
}

.days {
    width: 92px;
    height: 92px;
    border: 2px solid #000;
    border-radius: 100%;
    background: #fff;
    
    position: absolute;
    left: calc(50% - 46px);
    top: calc(100% - 46px);
}

.days .num {
    font-family: "Montserrat";
    font-size: 25px;
    font-weight: 700;
    color:white;
    text-align: center;
    margin-top: 25px;
}

.days .str {
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 700;
    color:white;
    text-align: center;
    text-transform: uppercase;
}

.hours canvas {
    top: -6px;
    left: -6px;
}

.hours {
    width: 180px;
    height: 180px;
    border: 2px solid #000;
    border-radius: 100%;
    position: absolute;
    left: -47px;
    top: -307px;
}

.seconds .num,.hours .num {
    font-family: "Montserrat";
    font-size: 43px;
    font-weight: 700;
    color:white;
    text-align: center;
    margin-top: 63px;
}

.seconds .str,.hours .str {
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 700;
    color:white;
    text-align: center;
    text-transform: uppercase;
}

.minutes canvas {
    top: -6px;
    left: -6px;
}

.minutes {
    width: 180px;
    height: 180px;
    border: 2px solid #000;
    border-radius: 100%;
    position: absolute;
    /* right: 0; */
    left: -47px;
    top: -91px;
}

.minutes .num {
    font-family: "Montserrat";
    font-size: 43px;
    font-weight: 700;
    color:white;
    text-align: center;
    margin-top: 63px;
}

.minutes .str {
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 700;
    color:white;
    text-align: center;
    text-transform: uppercase;
}

#snow {
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: -1;
}

#preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    background: #f1f4f5;
}

#preloader img {
    position: fixed;
    width: 106px;
    height: 106px;
    top: calc(50% - 53px);
    left: calc(50% - 53px);
}

@media all and (max-width: 600px) {
    .hours,
    .minutes {
        display: none;
    }
}